.info{
    background-color: black;
    text-align: center;
    color: white;
   
}

.nh{
    background-color: rgb(243, 196, 222);
    border-radius: 10px;
    width: 45%;
    margin: 2%;
    height: 90%;
}
.nhdos{
    background-color: black;
    width: 80%;
    height: 90%;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 8%;
    padding-top: 15%;
    padding: 10%;
}

.buttons{
    border-color: rgb(217, 91, 190);
    color:black ;
    background-color: #f1d1e7;
    margin: 10%;
   
 }